@import url("./font.css");
@import url("./vars.css");
* {
	font-family: "Rota", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	line-height: 1.5;
	letter-spacing: 1px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background-color);
}
a {
	text-decoration: none;
	color: black;
}

.posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
}

.post {
	background-color: whitesmoke;
	border-radius: 10px;
	padding: 15px;
	margin: 10px;
	height: 230px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
}

.post > div > h2 {
	font-size: 2em;
}

.post > div > p,
.post > span {
	font-size: 1.25em;
	color: #878787;
}

.post > span {
	color: rgb(128, 128, 128);
}
.content {
	overflow: hidden;
}
@media (max-width: 1510px) {
	.posts {
		grid-template-columns: 1fr 1fr;
	}

	.post {
		height: 280px;
	}
}

@media (max-width: 720px) {
	.posts {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.post:hover {
	background-color: rgb(221, 219, 219);
}

.nofind {
	display: flex;
	align-items: center;
	gap: 10px;
	overflow: hidden;
}

.nofind,
.nofind a {
	color: white;
	font-size: 2em;
}

.nofind a {
	text-decoration: underline;
}
