@import url("./font.css");
@import url("./vars.css");
* {
	font-family: "Rota", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	line-height: 1.5;
	letter-spacing: 1px;
}

body {
	margin: 0;
	padding: 0 2em;
	box-sizing: border-box;
	background-color: var(--background-color);
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100dvh;
}

.container {
	background-color: white;
	padding: 1em;
	width: 100%;
	border-radius: 10px;
}
#warn {
	color: red;
	display: none;
}
#warn.show {
	display: block;
}
.content {
	border: 1px solid red;
}
