body {
	padding-top: 0px !important;
	--padding: 0 0 0 50px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.hero {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 110px;
	position: relative;
	overflow: hidden;
	gap: 40px;
}
h1 {
	margin: 0;
	width: fit-content;
	text-transform: uppercase;
}
p {
	color: var(--secondary);
}

.hero button {
	width: var(--btnwidth);
	font-size: 1.11rem;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 13px 10px;
	border-radius: 24px;
	margin-left: 9px;
}
.hero > a {
	width: var(--btnwidth);
}

.i {
	position: absolute;
	z-index: -1;
	opacity: 0.4;
	bottom: 0;
	right: 0;
	rotate: 45deg;
}

@media (max-width: 1025px) {
	.hero {
		margin-left: 80px;
	}
	h1 span {
		margin-left: 0;
	}
	.hero > h1 {
		font-size: 4em;
	}
	.hero > p {
		font-size: 1.5em;
	}
	.hero button {
		font-size: 1.25em;
		--btnwidth: 200px;
	}
	.i {
		right: -200px;
	}

	body {
		--padding: 0 0 0 10px;
	}
}

@media (max-width: 600px) {
	.hero {
		margin-left: 0px;
	}
	.hero > h1 {
		font-size: 3em;
	}
	.hero > p {
		font-size: 1.25em;
	}
	.hero button {
		font-size: 1em;
		--btnwidth: 150px;
	}
	body {
		--padding: 0 0 0 10px;
	}
}

button {
	cursor: none;
}
